DEBUG=True
DB_HOST=db
DB_NAME=retrovision
DB_USER=postgres
DB_PASSWORD=postgres123
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
MQTT_BROKER_HOST=mosquitto
DATABASE_URL=postgresql://postgres.xxx:pass@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require

# Entorno Django Producción
DJANGO_SECRET_KEY=clave-secreta-produccion
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# AWS S3 Settings
AWS_STORAGE_BUCKET_NAME=retrovision-alertas
AWS_S3_REGION_NAME=sa-east-1

# Configuración de IA (Gemini)
AI_API_KEY=tu-api-key-gemini
AI_MODEL=gemini-3.1-flash-lite-preview

# Configuración de Stripe (Simulado / Real)
STRIPE_PUBLISHABLE_KEY=pk_test_mock
STRIPE_SECRET_KEY=sk_test_mock
